body{
    background-color:white;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

header{
    background-color: black;
    opacity: 0.7;
    height: 13vh;
    margin: 0;
    padding: 0;
}
.logo{
    margin-top: 13px;
    margin-left: 13px;
}
.logo logo{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}

.menu{
    text-align: center;
    background-color: black;
    opacity: 0.8;
    height: 10vh;
}

.menu nav{
    padding: 0;
    margin: 0;
    padding-top: 19px;
}
.menu nav a{
    color: white;
    margin: 13px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
padding-top: 7px;
}

.menu nav a:hover{
    color: rgb(219, 161, 171);
}

/* Default styles for all screen si

/* Styles for screens smaller than 768px (e.g., mobile phones) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Styles for screens between 769px and 1024px (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }
}

/* Styles for screens larger than 1024px (e.g., desktops) */
@media (min-width: 1025px) {
    body {
        font-size: 20px;
    }
}
